* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Home Start */
.container-hero {
    background-image: url("../images/01g8eqh7x3frj93nqfh2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    max-width: 100%;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
/* Home End */

hr {
    height: 20px;
}

/* product start */
.card {
    border: none;
}
